/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 15px;
    line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Tingle overrides
   ========================================================================== */
   .tingle-modal.smooth-transition {
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.tingle-modal-box__content {
    padding: 0;
}

.tingle-modal-box__content .site-section {
    padding: 3rem;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

.emphasize {
  font-weight: bold;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Responsive typepography sizing adapted from http://typecast.com/blog/a-more-modern-scale-for-web-typography
   ========================================================================== */
html {
  font-size: 16px;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

body, .content {
  font-size: 1rem;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75rem) {
  body, .content {
    font-size: 1rem;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1, .h1 {
  font-size: 2rem;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75rem) {
  h1, .h1 {
    font-size: 2.5rem;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25rem) {
  h1, .h1 {
    font-size: 3rem;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2, .h2 {
  font-size: 1.625rem;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75rem) {
  h2, .h2 {
    font-size: 2rem;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25rem) {
  h2, .h2 {
    font-size: 2.25rem;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3, .h3 {
  font-size: 1.375rem;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75rem) {
  h3, .h3 {
    font-size: 1.5rem;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25rem) {
  h3, .h3 {
    font-size: 1.75rem;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4, .h4 {
  font-size: 1.125rem;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75rem) {
  h4, .h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25rem;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75rem) {
  blockquote {
    font-size: 1.5rem;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  background: #262626;
  color: #C2C2C2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #FFF;
}

.site-section {
  width: 100vw;
}

.site-section__safe-area {
  max-width: 1024px;
  margin: 0 auto;
  padding: 60px 80px;
}

/* Introduction section styles */
.site-section--introduction {
  background: #2B2B2B;
}

.hero__description {
  max-width: 700px;
  text-align: center;
}
.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;  
  z-index: 1; /* Create stacking context to position after element only behind the hero content */ 
}

.hero__content::after {
  content: "";
  background-image: url(/img/hero-illustration.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.hero__cta {
  cursor: pointer;
  padding: 15px 30px;
  margin-top: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  background: #5FD6B3;
  color: #2B2B2B;
  border: none;
}

.site-section__safe-area .brand-header {
  margin-top: -25px;
}

.brand-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.brand-header__logo {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #C2C2C2;
  text-decoration: none;
}

.brand-header__social-links a {
  font-size: 1.5rem;
  margin-right: 24px;
  color: #C2C2C2;
  text-decoration: none;
}

.brand-header__social-links a:last-child {
  margin-right: 0;
}


/* Work Experience section styling */
.site-section--work-experience {
  background: #262626;
}
.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work__item {
  width: calc(50% - 16px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 48px;
}

.work__company {
  order: 2;
  font-size: 10px;
  margin: 12px 0 0;
  text-transform: uppercase;
}

.work__description {
  order: 3;
  margin: 0;
}

.work__illustration {
  display: block;
  width: 100%;

  /* 3/4 aspect ratio */
  padding-bottom: 75%;
  cursor: pointer;
  order: 1;
  background: #444;
  border: none;
}