html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background: #ECECEC;
    color: #5a5a5a;
  }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4 {
    color: #404040;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #5a5a5a;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
  }
  
  a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 4px;
    background: #5FD6B3;
  }

  body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
  }
  
  body, .content {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .body1 {
    color: #404040;
  }
  
  .body2 {
    color: #5a5a5a;
    font-weight: 300;
  }

  .headline__annotation {
    font-size: 0.5em;
    color: #5a5a5a;
    font-weight: 300;
  }

  .subhead {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 300;
  }

  h1, .h1, .headline {
    font-size: 2rem;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
    font-weight: bold;
    color: #404040;
  }
  
  h2, .h2 {
    font-size: 1.625rem;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
  }

  h3, .h3 {
    font-size: 1.375rem;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
  }

  .title {
    font-weight: normal;
    text-transform: uppercase;
  }
  
  h4, .h4, .title {
    font-size: 1.275rem;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
  }

  blockquote {
    font-size: 1.25rem;
    /* 20px / 16px */
    line-height: 1.25;
    /* 25px / 20px */
  }

  @include typography-break-1 {
    .subhead, .headline__annotation {
        font-size: 1.3rem;
    }

    h1, .h1, .headline {
        font-size: 2.5rem;
        /* 3x body copy size = 48px */
        line-height: 1.05;
        /* keep to a multiple of the 20px line height and something more appropriate for display headings */
    }

    h2, .h2 {
        font-size: 2.25rem;
        /* 2.25x body copy size = 36px */
        line-height: 1.25;
    }

    h3, .h3 {
        font-size: 1.75rem;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
    }
  }

  @include typography-break-2 {
    .subhead, .headline__annotation {
        font-size: 1.25rem;
    }

    h1, .h1, .headline {
        font-size: 2.2rem;
        /* 2.5x body copy size = 40px */
        line-height: 1.125;
    }

    h2, .h2 {
        font-size: 2rem;
        /* 2x body copy size = 32px */
        line-height: 1.25;
    }

    h3, .h3 {
        font-size: 1.5rem;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
    }

    h4, .h4, .title {
        line-height: 1.22222222;
        /* (22px / 18px */
    }

    blockquote {
        font-size: 1.5rem;
        /* 24px / 16px = */
        line-height: 1.45833333;
        /* 35px / 24px */
    }
  }
  