.emphasize {
    font-weight: bold;
}

.image-fill {
    width: 100%;
}

.youtube-responsive-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

// Responsive mixin helpers
@mixin tablet {
    @media screen and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: #{$phone-width}){
        @content;
    }
}

@mixin typography-break-normal {
    @media (max-width: #{$typography-breakpoint-normal}) {
        @content;
    }
}

@mixin typography-break-small {
    @media (max-width: #{$typography-breakpoint-small}) {
        @content;
    }
}