$section-padding-mobile: $section-padding * 0.6;
$content-padding-mobile: $content-padding / 4;

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;   
    padding: $header-padding 0;
  }
  
  .header__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .header__name {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  
  .header__title {
    font-size: 0.85rem;
  }
  

/* 
  Collapses the padding between neighboring site sections.
  Useful for layouts with site sections all containing common background color.
  Which lack a visual guide of where one section starts and the other ends. Often
  leads to visually appearing too spaced out.
*/
.site-section-collapse-wrapper .site-section:not(:last-child) {
    padding-bottom: 0;
  }
  
  .site-section-contrast-wrapper .site-section:nth-child(even) {
    background: #e0e0e0;
  }
  
  .site-section {
    width: 100vw;
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }
  
  .site-section--white {
    background: #FFF;
  }
  
  .site-section--black {
    background: #232323;
  }

  .site-section--dark {
    color: #C2C2C2;
  }
  
  .site-section--dark h1, 
  .site-section--dark h2, 
  .site-section--dark h3, 
  .site-section--dark h4, 
  .site-section--dark h5, 
  .site-section--dark h6,
  .site-section--dark .h1, 
  .site-section--dark .h2, 
  .site-section--dark .h3, 
  .site-section--dark .h4 {
    color: #FFF;
  }
  
  .site-section--dark a {
    color: #FFF;
  }
  
  // visually balance whitespace with header
  .site-section--with-header {
    padding-top: 0;
    padding-bottom: $header-padding * 2;
  }
  
  .site-section--overlap .content-area {
    margin-top: $section-padding * -1.5;
  }
  
  .content-area {
    display: block;
    box-sizing: content-box;
    max-width: $content-max-width;
    margin: 0 auto;
    padding-left: $content-padding;
    padding-right: $content-padding;
  }

  @include tablet {
    .content-area {
        padding-left: $content-padding-mobile;
        padding-right: $content-padding-mobile;
    }

    .site-section {
        padding-top: $section-padding-mobile;
        padding-bottom: $section-padding-mobile;
    }

    .site-section--with-header {
        padding-top: 0;
        padding-bottom: $header-padding * 2;
    }

    .site-section--overlap .content-area {
      margin-top: $section-padding-mobile * -1.5;
    }
  }