$header-padding-mobile: $header-padding * 0.7;
$section-padding-mobile: $section-padding * 0.6;
$content-padding-mobile: $content-padding / 4;

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;   
    padding: $header-padding 0;
    justify-content: space-between;
    margin-bottom: $section-padding - $header-padding * 2;
  }

  .header__logo-link:hover::after {
    content: none;
  }

  .header__logo-link:hover .header__logo {
    border: 3px solid #5FD6B3;
  }
  
  .header__logo {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 24px;
  }
  
  .header__name {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .header__title {
    font-size: 0.85rem;
  }

  .header__navigation {
    margin-top: 24px;
  }

  .header__link {
    @extend .subhead;
  }

  .header__link--current {
    color: #404040;
  }

  .header__link:not(:last-of-type) {
    margin-right: 16px;
  }


/* 
  Collapses the padding between neighboring site sections.
  Useful for layouts with site sections all containing common background color.
  Which lack a visual guide of where one section starts and the other ends. Often
  leads to visually appearing too spaced out.
*/
.site-section-collapse-wrapper .site-section:not(:first-child) {
    padding-top: 0;
  }
  
  .site-section-contrast-wrapper .site-section:nth-child(even) {
    @extend .site-section--dark-gray;
    @extend .site-section--dark;
  }
  
  .site-section {
    width: 100vw;
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }
  
  .site-section--white {
    background: #FFF;
  }
  
  .site-section--black {
    background: #232323;
  }

  .site-section--dark-gray {
    background: #303030;
  }

  .site-section--dark {
    color: #C2C2C2;
  }
  
  .site-section--dark .body1,
  .site-section--dark .body2 {
    color: #C2C2C2;
  }

  .site-section--dark h1, 
  .site-section--dark h2, 
  .site-section--dark h3, 
  .site-section--dark h4, 
  .site-section--dark h5, 
  .site-section--dark h6,
  .site-section--dark .h1, 
  .site-section--dark .h2, 
  .site-section--dark .h3, 
  .site-section--dark .h4 {
    color: #FFF;
  }
  
  .site-section--dark a {
    color: #FFF;
  }
  
  // visually balance whitespace with header
  .site-section--with-header {
    padding-top: 0;
  }
  
  .site-section--overlap .content-area {
    margin-top: $section-padding * -1.5;
  }
  
  .content-area {
    display: block;
    box-sizing: content-box;
    max-width: $content-max-width;
    margin: 0 auto;
    padding-left: $content-padding;
    padding-right: $content-padding;
  }

  @include tablet {
    .header {
      padding: $header-padding-mobile 0;
      margin-bottom: $section-padding-mobile - $header-padding-mobile * 2;
    }
    .content-area {
        padding-left: $content-padding-mobile;
        padding-right: $content-padding-mobile;
    }

    .site-section {
        padding-top: $section-padding-mobile;
        padding-bottom: $section-padding-mobile;
    }

    .site-section--with-header {
        padding-top: 0;
    }

    .site-section--overlap .content-area {
      margin-top: $section-padding-mobile * -1.5;
    }
  }