$header-padding: 32px;
$section-padding: 100px;
$content-max-width: 1248px;
$content-padding: 80px;

$tablet-width: 768px;
$phone-width: 480px;

$typography-breakpoint-1: 56.25rem;
$typography-breakpoint-2: 43.75rem;